*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dial{
  width: 400px;
  height: 400px;
}

.btn{
  margin: 5px;
  border: none;
  font-size: 40px;
  cursor: pointer;

}

.btn:focus{
  outline: none;
}

.timer input{
  margin: 5px;
  width: 240px;
  font-size: 40px;
  border: none;
  text-align: center;
}

.timer input:focus {
  outline: none;
}

#inputDuration::-webkit-outer-spin-button,
#inputDuration::-webkit-inner-spin-button {
  display: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
